[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
boto3 = "*"
geopandas = "*"
psycopg2-binary = "*"
python-dateutil = "*"
fsspec = "*"
s3fs = "*"

[dev-packages]

[requires]
python_version = "3.8"
